<div id="<%= dom_id order %>">
  <p>
    <strong>Buyout:</strong>
    <%= order.buyout_id %>
  </p>

  <p>
    <strong>Credit:</strong>
    <%= order.credit_id %>
  </p>

  <p>
    <strong>Exchange:</strong>
    <%= order.exchange_id %>
  </p>

  <p>
    <strong>Installment:</strong>
    <%= order.installment_id %>
  </p>

  <p>
    <strong>Call request:</strong>
    <%= order.call_request_id %>
  </p>

  <p>
    <strong>Order status:</strong>
    <%= order.order_status_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= order.description %>
  </p>

</div>
